body{
    margin: 0;
    padding: 0;

}
img{
    display: block;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    
    
}

.container img{
    width: 1000px;
    height: 700px;
    

}

.right--container img{
    width: 1000px;
    height: 700px;
}

.left--container{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    padding: 15px;
}



.right--container{
    height: 700px;
    width: 1000px;
   
    margin: 0;
    padding: 0;
    
}

.child{
    
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.child h1{
    font-size: 50px;
font-weight: bold;
}

.child button{
    background-color: rgb(251, 188, 71);
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    border-style: none;

}

.nav--bar{
    background-color: rgb(249, 191, 82);
    padding: 10px;
    display: flex;
    gap: 40px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}
button:hover{
color: white;
cursor: pointer;
}
#logo{
    padding-right: 10px;
    border-right: 1px solid black;
}

.container2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container--sub{
    display: flex;
    margin: 0;
    padding: 0;
}

.right--container1{
    height: 700px;
    width: 1000px;
   
    margin: 0;
    padding: 0;
    
}

.right--container1 img{
    width: 900px;
    height: 700px;
}

.left--container1{

     width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    padding: 15px;
}

.child2{
    position: relative;
    top: -100px;
    
    padding: 10px;
}

h4{
    padding: 0;
    margin: 0;
    
}


.child2 h4{
    font-style: italic;
    color: rgb(132, 129, 126);
}

@media screen and (max-width:600px) {

    .container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .right--container{
        width:300px;
        height: 300px;
        border: 1px solid black;
    }

    .right--container img{
        width: 300px;
        height: 300px;
        display: block;
    }

    .left--container{
        width: 300px;
        -border: 1px solid rgb(230, 14, 14);
        margin: 0;
        height:auto ;
        padding: 0;
        padding-bottom: 10px;
        border-radius: 15px;
        position :absolute;
        top: 290px;
        background-color: #fff;

    }

    .child{
        padding-left: 0;
        margin-left: 0;
        padding:5px;
       
    }
    
    .container h1{
        font-size: 40px
    }

    .child button{
        font-size: 15px;
    }

    .child p{
        font-size: 10px;
    }


}